<html lang="en">
    <%- include('./partials/head');     %>
<body>

    <%- include('./partials/nav');     %>

<div class="about content">
<h2>ABOUT US</h2>
<p>andsdnnvsndvinsn</p>
<p>andsdnnvsndvinsn</p>
<p>andsdnnvsndvinsn</p>
<p>andsdnnvsndvinsn</p>


</div>


<%- include('./partials/footer');     %>

</body>
</html>