<html lang="en">
    <%- include('./partials/head');     %>
<body>

    <%- include('./partials/nav');     %>

<div class="not found  content">
<h2>Page not found</h2>

</div>


<%- include('./partials/footer');     %>
</body>
</html>